<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sampling Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'samplingofficedash_style.css' %}">
</head>

<body>
    <header>
        <div class="main-menu">
            <img id="logo" src="{%static 'DON.png'%}" alt="Logo">
            <h2>Sampling Office</h2>
            <a style="width: 4em; text-decoration: none;" id="Logout" href="{% url 'stafflogout' %}"><button style="height: 100%; width: 100%; border: 0cm; border-radius: 5em; font-size: 17px; ">Logout</button></a>
        </div>
    </header>
    <div class="content">
        <div class="sidebar" >
            <div><a href="{% url 'sampling_office_dashboard' %}"><button class="sidebar-item" type="button">Dashboard</button></a></div>
            <div><a href="{% url 'addnewitems' %}"><button class="sidebar-item" type="button">Add New Design</button></a></div>
            <div><a href="{% url 'deleteitems' %}"><button class="sidebar-item" type="button">Delete Existing Design</button></a></div>
            <div><a href="{% url 'showorders' %}"><button class="sidebar-item" type="button">Show Orders</button></a></div>
            <div><a href="{% url 'completedorders' %}"><button class="sidebar-item" type="button">Completed Orders</button></a></div>

        </div>
        <div class="main">
            <h4 class="welcome-message">Welcome to the Sampling Page, {{username}}</h4>
            <br><br><br>
            <table>
                <thead>
                    <tr class="tableheading">
                        <th>Design ID</th>
                        <th>Quantity</th>
                        <th>Rack No.</th>
                        <th>Input</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody style="background-color: rgb(238, 239, 239);">
                    {% for designs in sampling_stocks %}
                    <form id="form_{{ designs.designid }}" method="POST">
                        <tr class="item" id='row_{{ designs.designid }}'>
                            <td>{{ designs.designid }}</td>
                            <td>{{ designs.quantity }}</td>
                            <td>{{ designs.rackno }}</td>
                            <td><input class='updateinput' type="number" class="addremove" name="addremove"></td>
                            <td>
                                <button class="actions" onclick="updateStock(event)" data-action="add">Add</button>
                                <button class="actions" onclick="updateStock(event)"
                                    data-action="remove">Remove</button>
                            </td>
                            <input type="hidden" name="designid" value="{{ designs.designid }}">
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function updateStock(event) {
            const clickedButton = event.target;
            const row = clickedButton.closest('tr'); // Get the closest table row
            const quantityInput = row.querySelector('.updateinput'); // Find the input within the row
            const designId = row.querySelector('input[name="designid"]').value; // Get design ID
            const action = clickedButton.dataset.action;
            const addremove = quantityInput.value;


            fetch('/updatestock/', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ designId: designId, action: action, addremove: addremove })
            })
                .then(response => response.json())
                .then(data => {

                    const quantityCell = row.querySelector('td:nth-child(2)'); // Assuming quantity is in 2nd column
                    quantityCell.textContent = data.updated_quantity; // Update quantity with data from response
                })
                .catch(error => {
                    console.error('Error updating stock:', error);
                });
        }

    </script>
</body>

</html>